.containerSocialMedia{
    margin-bottom: 1.5rem;
    width: 15rem;
    
}

.containerSocialMediaItem{
    margin-right: 0.2rem;
    margin-bottom: 1.5rem;
}

.listOptionsFooter>li>a{
    color:white;
    text-decoration: none;
}

/*Para celulares pequeños*/
@media (max-width: 575.98px) {
    .listOptionsFooter>li>a{
        font-size: 1rem;
    }
 
}